<config>
	<recent-models>
		<file>C:\Help\Alexey\My New Projects\Eclipse Projects\SparkLogo\samples\StemCell\output\StemModel.xml</file>
		<file>C:\Help\Alexey\My New Projects\Eclipse Projects\SPARK CaWaves\CaWaves.xml</file>
		<file>C:\Help\Alexey\My New Projects\Eclipse Projects\Spark\tests\EvaporationAndDiffusion.xml</file>
		<file>C:\Help\Alexey\My New Projects\Eclipse Projects\SPARK Demo 1\Stem cell.xml</file>
		<file>C:\Help\Alexey\My New Projects\Eclipse Projects\SPARK RSV Model\rsv.xml</file>
	</recent-models>
</config>
