<config>
	<spark-path>C:\Help\Alexey\My New Projects\Eclipse Projects\Spark\release\spark.jar</spark-path>
	<recent-projects>
		<file>C:\Help\Alexey\My New Projects\Eclipse Projects\SparkLogo\samples\ToyInfectionModel\ToyInfectionModel Project.xml</file>
		<file>C:\Help\Alexey\My New Projects\Eclipse Projects\SparkLogo\samples\Fire\FireModel.xml</file>
		<file>C:\Help\Alexey\My New Projects\SPARK-PL\RSV bronchiole\RSV bronchiole.xml</file>
		<file>C:\Help\Alexey\My New Projects\Eclipse Projects\SparkLogo\samples\PhysModel2\Spark PhysModel2.xml</file>
		<file>C:\Help\Alexey\My New Projects\Eclipse Projects\SparkLogo\samples\Simple 3d model\Simple 3d Model.xml</file>
		<file>C:\Help\Alexey\My New Projects\Eclipse Projects\SparkLogo\samples\Multiple Spaces\Multiple Spaces.xml</file>
		<file>C:\Help\Alexey\My New Projects\SPARK-PL\HCCwResults\HCC\HCC Project.xml</file>
		<file>C:\Help\Alexey\My New Projects\Eclipse Projects\SparkLogo\Models\SCI3\SCI3 Project.xml</file>
		<file>C:\Help\Alexey\My New Projects\Eclipse Projects\SparkLogo\samples\GameOfLife\Game of Life.xml</file>
		<file>C:\Help\Alexey\My New Projects\Eclipse Projects\SparkLogo\samples\TimeSample\TimeSample.xml</file>
	</recent-projects>
</config>
