<config>
	<spark-core-path>C:\Work\My Projects\SPARK\Spark\release\spark-core.jar</spark-core-path>
	<spark-external-path>C:\Work\My Projects\SPARK\Spark\release\spark-external.jar</spark-external-path>
	<recent-projects>
		<file>C:\Work\My Projects\SPARK\SparkLogo\samples\Fractals\Fractals.xml</file>
		<file>C:\Work\My Projects\SPARK\SparkLogo\samples\PhysModel2\Spark PhysModel2.xml</file>
	</recent-projects>
</config>
